@{
    ViewBag.Title = "BookList";
}

<h2>BookList</h2>
<div>
    <h2>DDD书籍</h2>
    <ul>
        <li>
            http://item.jd.com/10380477.html 领域驱动设计：软件核心复杂性应对之道
        </li>
        <li>
            http://item.jd.com/11423256.html 实现领域驱动设计 [Implementing Domain-Driven Design]
        </li>
        <li>http://item.jd.com/10138508516.html 领域驱动设计模式、原理与实践 领域驱动设计(DDD)实践教程书籍 领域驱动设计原理基</li>
    </ul>
</div>
<div>
    <h2>惠租车-专车技术负责-张锦华(17224096)   推荐</h2>
    <ul>
        <li>    http://item.jd.com/11073791.html 实例化需求：团队如何交付正确的软件 ["Specification by Example:How]</li>
        <li>
            http://item.jd.com/11266246.html Cucumber：行为驱动开发指南
        </li>
        <li>     http://item.jd.com/11219256.html 验收测试驱动开发：ATDD实例详解</li>
    </ul>
</div>