@{
    ViewBag.Title = "BookList";
}

<h2>BookList</h2>
<div>
    <h2>DDD书籍</h2>
    <ul>
        <li>
            http://item.jd.com/10380477.html 领域驱动设计：软件核心复杂性应对之道
        </li>
        <li>
            http://item.jd.com/11423256.html 实现领域驱动设计 [Implementing Domain-Driven Design]
        </li>
        <li>http://item.jd.com/10138508516.html 领域驱动设计模式、原理与实践 领域驱动设计(DDD)实践教程书籍 领域驱动设计原理基</li>
    </ul>
</div>
<div>
    <h2>惠租车-专车技术负责-张锦华(17224096)   推荐</h2>
    <ul>
        <li>    http://item.jd.com/11073791.html 实例化需求：团队如何交付正确的软件 ["Specification by Example:How]</li>
        <li>
            http://item.jd.com/11266246.html Cucumber：行为驱动开发指南
        </li>
        <li>     http://item.jd.com/11219256.html 验收测试驱动开发：ATDD实例详解</li>
    </ul>
    <section>
        <pre>
惠租车-专车技术负责-张锦华(17224096)  13:28:42
最先我们觉得面向对象是好的，至少老师教面向对象，刚入行，面试面向对象。但工作后呢，对象没了。传统的三层架构，只是在用着面向对象的语言而已。
惠租车-专车技术负责-张锦华(17224096)  13:29:58
而后，我们开始接触到很多原则，SOLID也好，UML应用与模式里提的原则也好，给我们很多启发，但如何落地呢？
再后，我们发现领域驱动设计这个东西，不错。它提醒我们把注意力集中到业务上。
惠租车-专车技术负责-张锦华(17224096)  13:31:15
DDD有两个明确的目标，一是统一语言，二是有核心竞争力的领域模型。
然后我们围绕它开始学习，是收获很多，但也有不少问题。
要买车-架构-程飞年(133606303)  13:32:55
我个人的感觉还是概念不能很好的落实，
惠租车-专车技术负责-张锦华(17224096)  13:33:03
比如，如何来统一语言。比如，一说到设计，很多人觉得要花很多时间，另外，设计到什么程度是个恰当的度。
要买车-架构-程飞年(133606303)  13:33:08
跟我们传统的面向对象的理解有初入
惠租车-专车技术负责-张锦华(17224096)  13:33:37
当向其它人或同事推荐DDD时，经常会被认为是假大空。
基于上面的原因，我才说前面的几本书，似乎完成了思路上的拼图。
惠租车-专车技术负责-张锦华(17224096)  13:34:55
在BDD里，它在谈如何用Gerkin语言来建立活文档。
要买车-架构-程飞年(133606303)  13:35:00
看来我也更应该收一套
惠租车-专车技术负责-张锦华(17224096)  13:36:59
这里有两个好处，一是这个东西，是非技术人员能阅读的，这样正好解决建立统一语言的问题。二是，我们平时开发都说要文档，但如何保证文档的同步性是个大问题，注释也一样，而因为BDD里写的feature是可运行的，所以，这种方式可以保证文档的鲜活度，与真实系统的匹配度。
Neuzilla-Tony<tonyqus@163.com>  13:37:33
同意，因为大学老师很多也是不理解面向对象
我们被灌输的理念是使用class就是面向对象
惠租车-专车技术负责-张锦华(17224096)  13:38:12
第二个设计的问题，设计到什么程度是个合理的度，所有的feature通过了，设计就是满足了的了。
Neuzilla-Tony<tonyqus@163.com>  13:38:31
其实比class跟重要的是接口
惠租车-专车技术负责-张锦华(17224096)  13:38:58
剩下的，就是在开发新feature时，通过重构，通过DDD指导的方法，不断演化提炼的过程。
夸克加入本群
惠租车-专车技术负责-张锦华(17224096)  13:40:30
基于前面的原因，我比较推荐前面的三本书，我觉得配合DDD，效果会非常好。
要买车-架构-程飞年(133606303)  13:40:55
我也是在学习DDD的过程中，才注意到了思想的提升，
惠租车-专车技术负责-张锦华(17224096)  13:41:21
嗯，是的。
要买车-架构-程飞年(133606303)  13:41:33
在现有术的基础上，我觉着道比术更重要,
博彦-开发-罗磊(30763402)  13:41:48
我才跟着学就已经觉得提升不少了
Edward加入本群
惠租车-专车技术负责-张锦华(17224096)  13:41:58
因为学习DDD都是程序狗的问题，以前群里的讨论更多是在实现层面。
但DDD的最后一个D，不是Develop而是Design。
</pre>
    </section>
</div>