@{
    ViewBag.Title = "联系MStack";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <strong>坐标:</strong>陕西西安<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@odotnet.com">Support@odotnet.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>