@model IEnumerable<MStack.Infrastructure.Entities.User>

@{
    ViewBag.Title = "MStack作者";
}

<h2>作者信息</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="@Url.Content(string.IsNullOrWhiteSpace(item.Avatar) ? "~/Images/logo/100x100.png" : item.Avatar)" width="100" height="100" />
                <div class="caption">
                    <h3 style="text-overflow:ellipsis;overflow: hidden;white-space: nowrap;" title="@item.DisplayName">@item.DisplayName</h3>
                    <p style="text-overflow:ellipsis">
                        @item.Email
                    </p>

                </div>
            </div>
        </div>
    }
</div>