@{
    ViewBag.Title = "帖子列表";
}

<link href="~/Content/tether/miniprofiler.css" rel="stylesheet" />
<div class="container" style="margin-top:20px;">
    <div id="ember802" class="ember-view"></div>
    <div id="ember813" class="ember-view hidden create-topics-notice"></div>
</div>
<div class="container">
    <div id="ember999" class="ember-view"></div>
</div>
<div class="list-controls">
    <div class="container">
        <ol id="ember1034" class="ember-view category-breadcrumb">
            <li id="ember1055" class="ember-view no-category has-drop bullet">
                <a href="" class="badge-category home" style="background-color: #eee; color: #333" aria-label="Display category list" aria-expanded="false">all categories</a>
                <a href="" class="badge-category category-dropdown-button home" style="background-color: #eee; color: #333">
                    <i class="fa fa-caret-right"></i>
                </a>
                <section class="hidden category-dropdown-menu chooser">
                    <div class="cat">
                        <a class="badge-category home">all categories</a>
                    </div>
                    <div class="cat">
                        <a class="badge-wrapper bullet">
                            <span class="badge-category-bg" style="background-color: #3AB54A;"></span>
                            <span style="color: #FFFFFF;" class="badge-category clear-badge" title="Topics related to the JavaScript UI of MiniProfiler.">UI</span>
                        </a>
                    </div>
                    <div class="cat">
                        <a class="badge-wrapper bullet">
                            <span class="badge-category-bg" style="background-color: #0E76BD;"></span>
                            <span style="color: #FFFFFF;" class="badge-category clear-badge" title="Topics specific to the .NET version of MiniProfiler">.NET</span>
                        </a>
                    </div>
                    <div class="cat">
                        <a class="badge-wrapper bullet">
                            <span class="badge-category-bg" style="background-color: #BF1E2E;"></span>
                            <span style="color: #FFFFFF;" class="badge-category clear-badge" title="Topics related to Ruby and rack-mini-profiler">Ruby</span>
                        </a>
                    </div>
                </section>
            </li>
        </ol>
        <ul id="ember1045" class="ember-view nav nav-pills">
            <li id="ember1072" class="ember-view active" title="topics with recent posts">
                <a>Latest</a>
            </li>
            <li id="ember1073" class="ember-view" title="topics with recent posts">
                <a>Top</a>
            </li>
            <li id="ember1074" class="ember-view" title="topics with recent posts">
                <a>Categories</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="full-width">
            <div id="list-area">
                <div id="ember1013" class="ember-view discovery-list-container-top-outlet discourse-google-dfp">

                </div>
                <div id="ember1025" class="ember-view">
                    <div id="ember1083" class="ember-view"></div>
                    <div class="contents">
                        <table id="ember1093" class="ember-view topic-list">
                            <thead>
                                <tr>
                                    <th data-sort-order="default" class="default">Topic</th>
                                    <th data-sort-order="category" class="category sortable">Category</th>
                                    <th data-sort-order="posters" class="posters">Users</th>
                                    <th data-sort-order="posts" class="posts sortable num">Replies</th>
                                    <th data-sort-order="views" class="views sortable num">Views</th>
                                    <th data-sort-order="activity" class="activity sortable num">Activity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="ember1102" class="ember-view topic-list-item category-net" data-topic-id="436">
                                    <td class="main-link clearfix" colspan="1">
                                        <a class="title">Using inside loops (foreach, etc)</a><span class="topic-post-badges"></span>
                                    </td>
                                    <td class="category">
                                        <a class="badge-wrapper bullet">
                                            <span class="badge-category-bg" style="background-color: #0E76BD;"></span>
                                            <span class="badge-category clear-badge" style="color: #FFFFFF;" data-drop-close="true" title="Topics specific to the .NET version of MiniProfiler">.Net</span>
                                        </a>
                                    </td>
                                    <td class="posters">
                                        <a href="" data-user-card="patated" class="latest">
                                        <img width="25" height="25" src="https://avatars.discourse.org/v2/letter/p/b487fb/25.png" class="avatar latest" title="patated - Original Poster, Most Recent Poster" /></a>
                                        <a href="" data-user-card="Yaakov"><img width="25" height="25" src="https://cdn-business.discourse.org/user_avatar/community.miniprofiler.com/yaakov/25/858_1.png" class="avatar" title="Yaakov - Frequent Poster" /></a>
                                    </td>
                                    <td class="num posts-map posts heatmap-" title="This topic has 3 replies">
                                        <a href="" class="posts-map badge-posts heatmap-">3</a>
                                    </td>
                                    <td class="num views">
                                        <span class="number" title="this topic has been viewed 36 times">36</span>
                                    </td>
                                    <td class="num age activity" title="First post: March 8, 2016 10:38am
Last post: March 11, 2016 7:59am">
                                        <a href="">
                                            <span class="relative-date" data-time="1457654350355" data-format="tiny">2d</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr id="ember1103" class="ember-view topic-list-item category-ruby" data-topic-id="437">
                                    <td class="main-link clearfix" colspan="1">
                                        <a class="title">How to deal with information overload in flamegraphs?</a><span class="topic-post-badges"></span>
                                    </td>
                                    <td class="category">
                                        <a class="badge-wrapper bullet">
                                            <span class="badge-category-bg" style="background-color: #BF1E2E;"></span>
                                            <span class="badge-category clear-badge" style="color: #FFFFFF;" data-drop-close="true" title="Topics related to Ruby and rack-mini-profiler">Ruby</span>
                                        </a>
                                    </td>
                                    <td class="posters">
                                        <a href="" data-user-card="patated" class="latest">
                                            <img width="25" height="25" src="https://cdn-business.discourse.org/user_avatar/community.miniprofiler.com/sam/25/377_1.png" class="avatar latest" title="sam - Original Poster" />
                                        </a>
                                        <a href="" data-user-card="TiagoCardoso1983"><img width="25" height="25" src="https://avatars.discourse.org/v2/letter/t/bbe5ce/25.png" class="avatar" title="TiagoCardoso1983 - Most Recent Poster" /></a>
                                    </td>
                                    <td class="num posts-map posts heatmap-" title="This topic has 1 replies">
                                        <a href="" class="posts-map badge-posts heatmap-">1</a>
                                    </td>
                                    <td class="num views">
                                        <span class="number" title="this topic has been viewed 36 times">298</span>
                                    </td>
                                    <td class="num age activity" title="First post: March 8, 2016 10:38am
Last post: March 11, 2016 7:59am">
                                        <a href="">
                                            <span class="relative-date" data-time="1457654350355" data-format="tiny">2d</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


